.navbar {
    /* banner-desktop: */
    background: #64DCCA;
    margin-left: 0px;
    margin-right: auto;
    width: 100%;
    height: 135px;
}

body {
    background: #FAEDFF;
    
    
}

.container-fluid {
    margin-top: 100px;
   
   
}

 .well {
   opacity: 0.80;
    margin-top:50px;
    background-color: #6FDCCA;
  }

/*html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
#map {
  height: 100%;
}*/